click==8.4.2
cyclonedds==0.10.2
flatbuffers==25.12.19
markdown_it_py==4.2.0
mdurl==0.1.2
numpy==2.5.1
onnxruntime==1.28.0
opencv_python==5.0.0.93
packaging==26.2
pip==24.0
protobuf==7.35.1
pygments==2.20.0
pyyaml==6.0.3
rich==15.0.0
rich_click==1.9.8
safetensors==0.8.0
unitree_sdk2py==1.0.1
